body {
  font-family: "Titillium Web", sans-serif;
  height: 100vh;
  background-color: #24282b !important;
  background: #fafafa !important;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.bg-dark,
.navbar-dark {
  background: #24282b !important;
}

.bg-moredark {
  background: #1d2124 !important;
}
.bg-light {
  background: #f0f3f5 !important;
}
/* ---------------- */
/* CONTENIDO NAVBAR */
/* ---------------- */

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
#navbar {
  height: 76px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

#navbar-logo {
  width: 208px;
  margin-left: 20%;
}

#navbar-logo img {
  display: block;
  max-width: 88px;
}
#navbar ul a {
  color: rgba(255, 255, 255, 0.55) !important;
}

#navbar a:hover,
#navbar button:hover i {
  color: #007bff !important;
}

#navbar ul button {
  min-width: 40px;
  background: transparent;
  border: none;
  outline: none;
}

/* ----------------- */
/* DROPDOWNS NAV-BAR */
/* ----------------- */
#navbar .dropdown-menu.extended {
  width: 220px !important;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) !important;
  border: none !important;
}

#navbar .dropdown-menu.extended h6 {
  font-weight: bold;
  padding: 10px 1rem;
  font-size: 1.05rem;
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
}
#navbar .dropdown-menu.account .user-info {
  margin: 1rem 0;
}
#navbar .dropdown-menu.account .photo i {
  display: flex;
  float: left;
  font-size: 40px;
  margin-left: 1rem;
  margin-right: 1rem;
}

#navbar .dropdown-menu.account .name {
  display: block;
  font-size: 0.95rem;
  font-weight: 600;
}

#navbar .dropdown-menu.account .document {
  display: block !important;
  font-size: 0.8rem;
}

#navbar .dropdown-item {
  color: rgba(0, 0, 0, 1) !important;
  padding: 0.25rem 1rem;
}

#navbar .dropdown-item i {
  color: rgba(0, 0, 0, 0.4) !important;
}
#navbar .dropdown-item:hover,
#navbar .dropdown-item:hover i {
  font-weight: bold;
  color: #007bff !important;
  background: #e9ecef !important;
}
#navbar .dropdown-item:hover.text-danger,
#navbar .dropdown-item:hover.text-danger i {
  font-weight: bold;
  color: #dc3545 !important;
  background: #e9ecef !important;
}

/* ----------------- */
/* FORMATO DE MODALS */
/* ----------------- */

.btn-dark {
  background: #343a40;
}

/* ----------------- */
/* CONTENIDO SIDEBAR */
/* ----------------- */

.sidebar-div {
  position: fixed;
  perspective: 1500px;
  top: 0px;
  bottom: 0px;
}

#sidebar {
  margin-top: 76px;
  width: 230px;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: bottom left;
  height: 100vh;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.25);
}

#sidebar.hidden {
  margin-left: -230px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  padding-top: 15px;
  margin: auto;
  width: 80%;
}

#sidebar .form-control {
  font-size: 0.9rem;
  border-radius: 0.1rem;
}

#sidebar hr {
  margin: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.075); /*Cambiar color*/
}
#sidebar a {
  display: block;
  text-decoration: none;
  transition: all 0.3s;
}
#sidebar i {
  transition: all 0.3s;
}

#sidebar ul li a {
  color: rgba(255, 255, 255, 0.55);
  padding: 15px;
  display: block;
}
#sidebar ul ul a {
  padding: 10px;
}
#sidebar ul li a i {
  color: rgba(255, 255, 255, 0.15);
  margin-right: 10px;
}

#sidebar a[data-toggle="collapse"] {
  position: relative;
}

#sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* DESPLEGADOS */
#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #1d2124;
  color: rgba(255, 255, 255, 0.8) !important;
}
#sidebar ul ul i {
  color: rgba(255, 255, 255, 0.4) !important;
}

#sidebar ul li a[aria-expanded="true"] {
  background: #007bff;
  color: white;
  font-weight: bold;
}
#sidebar ul li a[aria-expanded="true"] i {
  color: white;
}

#sidebar .list-unstyled {
  transition: all 0.3s !important;
}
#sidebar ul ul a:hover {
  background: rgba(0, 123, 255, 0.3) !important;
}

/* SELECCION */

#sidebar a:hover {
  color: white !important;
  background: #007bff;
}
#sidebar a:hover i {
  color: white !important;
}
#sidebar a.active {
  color: white !important;
  background: #007bff;
}
#sidebar a.active i {
  color: white !important;
}

/* ---------------- */
/* FORMATO CONTENTS */
/* ---------------- */
.breadcrumb {
  padding: 14.5px 20px;
  background: transparent;
  margin-bottom: 0;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "»";
  color: rgba(0, 0, 0, 0.35);
}

#content {
  width: 100%;
  margin-top: 76px;
  margin-left: 230px;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
}
#content.hidden {
  margin-left: 0;
}
#page {
  width: 100%;
  padding: 20px;
  transition: all 0.3s;
}
/* ------------------ */
/* ELEMENTOS GLOBALES */
/* ------------------ */

.hover-light:hover {
  color: white !important;
}

.hover-dark:hover {
  color: black !important;
}

button {
  font-weight: bold !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  transition: all 0.3s !important;
  margin: 0px 5px;
}

button:hover {
  background: transparent !important;
}
button:active {
  transform: scale(1.05);
}

/* ---------------- */
/* CONTENIDO PAGINA */
/* ---------------- */
