body {
  font-family: "Titillium Web", sans-serif;
  height: 100vh;
  background-color: #24282b !important;
  background: #fafafa !important;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.bg-dark,
.navbar-dark {
  background: #24282b !important;
}

.bg-moredark {
  background: #1d2124 !important;
}

/* ---------------- */
/* CONTENIDO NAVBAR */
/* ---------------- */

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
#navbar {
  height: 76px;
}

#navbar-logo {
  width: 208px;
  margin-left: 20%;
}

#navbar-logo img {
  display: block;
  max-width: 88px;
}
#navbar ul a {
  color: rgba(255, 255, 255, 0.55) !important;
}

#navbar a:hover,
#navbar button:hover {
  color: #007bff !important;
  /*font-weight: bold;*/
}

#navbar ul button {
  min-width: 40px;
  background: transparent;
  border: none;
}

/* ----------------- */
/* DROPDOWNS NAV-BAR */
/* ----------------- */

#navbar .dropdown-item {
  color: gray !important;
}

/* ----------------- */
/* FORMATO DE MODALS */
/* ----------------- */
.btn-dark {
  background: #343a40;
}

/* ----------------- */
/* CONTENIDO SIDEBAR */
/* ----------------- */

.sidebar-div {
  position: fixed;
  perspective: 1500px;
  top: 0px;
  bottom: 0px;
}

#sidebar {
  margin-top: 76px;
  width: 230px;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: bottom left;
  height: 100vh;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.25);
}

#sidebar.hidden {
  margin-left: -230px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  padding-top: 15px;
  margin: auto;
  width: 80%;
}

#sidebar .form-control {
  font-size: 0.9rem;
  border-radius: 0.1rem;
}

#sidebar hr {
  margin: 15px;
  border-bottom: 1px solid #313030; /*Cambiar color*/
}
#sidebar a {
  display: block;
  text-decoration: none;
  transition: all 0.3s;
}
#sidebar i {
  transition: all 0.3s;
}

#sidebar ul li a {
  color: rgba(255, 255, 255, 0.55);
  padding: 15px;
  display: block;
}
#sidebar ul ul a {
  padding: 10px;
}
#sidebar ul li a i {
  color: rgba(255, 255, 255, 0.15);
  margin-right: 10px;
}

#sidebar a[data-toggle="collapse"] {
  position: relative;
}

#sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* DESPLEGADOS */
#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #1d2124;
  color: rgba(255, 255, 255, 0.8) !important;
}
#sidebar ul ul i {
  color: rgba(255, 255, 255, 0.4) !important;
}

#sidebar ul li a[aria-expanded="true"] {
  color: #0275d8;
  font-weight: bold;
}
#sidebar ul li a[aria-expanded="true"] i {
  color: #0275d8;
}

/* SELECCION */

#sidebar a:hover {
  color: white !important;
  background: #0275d8;
}
#sidebar a:hover i {
  color: white !important;
}
#sidebar a.active {
  color: white !important;
  background: #0275d8;
}
#sidebar a.active i {
  color: white !important;
}

/* ---------------- */
/* MIGA DE PANNSUSU */
/* ---------------- */

/* ---------------- */
/* CONTENIDO PAGINA */
/* ---------------- */
#content {
  margin-top: 76px;
  margin-left: 230px;
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
}

#content.hidden {
  margin-left: 0;
}
