body {
  font-family: "Titillium Web", sans-serif;
  height: 100vh;
  background-color: #24282b !important;
  background: #fafafa !important;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.bg-dark,
.navbar-dark {
  background: #24282b !important;
}

.bg-moredark {
  background: #1d2124 !important;
}

/* ---------------- */
/* CONTENIDO NAVBAR */
/* ---------------- */

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
#navbar {
  height: 76px;
}

#navbar-logo {
  width: 208px;
}

#navbar-logo img {
  display: block;
  max-width: 72px;
}
#navbar ul a {
  color: rgba(255, 255, 255, 0.55) !important;
}

#navbar .dropdown-item {
  color: gray !important;
}

#navbar a:hover,
#navbar button:hover {
  color: #007bff !important;
  /*font-weight: bold;*/
}

#navbar ul button {
  min-width: 40px;
  background: transparent;
  border: none;
}

/* ----------------- */
/* CONTENIDO SIDEBAR */
/* ----------------- */

.sidebar-div {
  position: fixed;
  perspective: 1500px;
  top: 0px;
  bottom: 0px;
}

#sidebar {
  margin-top: 76px;
  width: 224px;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: bottom left;
  height: 100vh;
}

#sidebar.hidden {
  margin-left: -224px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  margin: auto;
  width: 50%;
}

#sidebar hr {
  margin: 15px;
  border-bottom: 1px solid #313030; /*Cambiar color*/
}
#sidebar a {
  display: block;
  text-decoration: none;
}

#sidebar ul li a {
  color: rgba(255, 255, 255, 0.5);
}

#sidebar ul li a i {
  color: rgba(255, 255, 255, 0.25);
}

/* ---------------- */
/* CONTENIDO PAGINA */
/* ---------------- */
#content {
  margin-top: 76px;
  margin-left: 224px;
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
